.botones {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; // CAMBIO
}

.boton-outlined {
  flex-grow: 1;
  padding: 0px;
  margin: 0 5px;
  background-color: transparent;
  color: #00A499;
  border: 1px solid #00A499;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  font-size: small;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: #00A499;
    color: white;
  }

  &:disabled {
    background-color: white;
    border: 1px solid #8d9493;
    color: #8d9493;
  }
}