@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

// Colores
$background-color: #00A499;

// Fuentes
$font-bebas: 'Bebas Neue', sans-serif;
$fuente-secundaria: 'Helvetica Neue', Helvetica, Arial, sans-serif;